// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header11{

background-color: #2196F3;

    width: 100%;

  height: 6.2vw;


}
*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.cp_cont {
	height: 65vh;
}
.cp_offcm01 {
	position: absolute;
	top: -1vw;
	right: 4vw;
	display: inline-block;
}
/* menu */
.cp_offcm01 .cp_menu {
  color: white;
	position: fixed;
	top: 0;
	right: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #607D8B;
	opacity: 0.8;
      z-index: 1;
}
.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
}
/* menu toggle */
.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #333333;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(-250px);
	        transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
  position: fixed;
	font-family: 'FontAwesome';
	content: "≡"; /*メニューアイコン*/
	font-size: 5vw;
  z-index: 10;
}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
  position: fixed;
	content: "≡";
    z-index: 10;
}
/* contents */
.cp_contents {
	color: #333333;
	text-align: center;
}
/*メニュー部分*/
#ham-menu {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内部上下左右余白*/
    position: fixed;
    right: -300px; /*メニュー横幅①と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 300px; /*メニュー横幅①*/
    z-index: 1000;
}

/*メニューアイコン部分は疑似要素で*/
#ham-menu::before {
    background-color: #fff; /*ボタン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    content: "≡"; /*メニューアイコン*/
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px;
    line-height: 50px; /*縦位置中央化*/
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 100px;
}

/*透過背景部分*/
#menu-background {
    background-color: #333; /*黒背景部分背景色*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%;
    z-index: -1;
}

/*hover 時の処理*/
#ham-menu:hover {
    transform: translate(-300px); /*メニュー横幅①と合わせる*/

}

#ham-menu:hover + #menu-background {
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
}
.search{
 padding: 1em 1em 1em 1em;
background-color: #52f5fd;;   /* 背景色：淡い青色 */
 width: 95% auto;
}

/* ▼プルダウンメニューそのものの装飾 */
.select {
   font-size: 1em;   /* 項目の文字サイズを1.2倍に */

   padding: 5px auto;
   width: 100%;
 }

.indexbox{

  width: 80%;
  padding: 1em 1em 1em 2em;
  max-width: 500px;
  margin: 3px;


}
.body{
    background-image : url("../images/logtop.jpg");
    height: 100%;
    background-color:white;
    font-family: "YuMincho", "游明朝",serif;
}

.logmypage{
  border: 3px double #0000cc;  /* 青色の二重線(3px) */
  background-color: #eeeeff;   /* 背景色：淡い青色 */
  margin: 1em 0px;             /* 外側の余白：上下に1文字分 */
  padding: 1em;                /* 内側の余白：周囲に1文字分 */
  width: 400px;            /* はみ出る場合は自動調整(スクロールバーを表示) */
}

.exitlog{

  font-size: 24px;
  position: absolute;
  top: 92%;
  left: 60%;
}




.header_middle{


    color: white;

  }

  .flex_test-box {

      /* 余白指定 */
    display: flex;              /* フレックスボックスにする */

}
.flex_test-item {

   color:  white;               /* 文字色 */


   font-size: 20px;            /* 文字サイズ指定 */
   text-align:  center;        /* 文字中央揃え */

}

.flex_test-item:nth-child(1) {
    font-size: 3.9vw;
    background-color:  #2196F3; /* 背景色指定 */
             /* 幅指定 */


      width:25%;
}

.flex_test-item:nth-child(2) {
background-color:  #2196F3; /* 背景色指定 */
    width: 35%;
    font-size: 3vw;
}

.flex_test-item:nth-child(3) {
   background-color:  #2196F3; /* 背景色指定 */
  text-align: center;

  width: 40%;
  font-size:2vw;


}

.flex_test-item:nth-child(4) {
    background-color: #00BCD4;  /* 背景色指定 */
}
.guraduate_collage_log{
  font-size: 30px;
  padding: 2px;
  margin:  2px;
}

.toukoupage{
  text-align-last: center;
}

.toukou{
  margin-bottom:  50px;
  padding: 20px 60px;
}

.mypagebox{
  margin: 10px auto;

}


.field{
  margin: 10px auto;
  padding: 10px auto;
}


.logs{
  background-image: url("log10.png");
background-size: cover;
position: absolute;
position: relative;
margin-left: 50px;

height: 604.39px;
        width: 616.98px;
    font-size: 1.1rem;

}

.title{
  font-size: 25px;
  position: absolute;
  left: 30%;

}

.school{
  position: absolute;
  left: 3%;
  top: 25%;
}
.contents{
  left: 4%;
  top:  33%;
  position: relative;

}
.contents1{

  top: 25px;
  position: absolute;

}

.contents2{

    top: 300%;
  position: absolute;

}

.contents12{

    top: 600%;
  position: absolute;

}
.crelike{
    position: absolute;
    bottom: 1%;
    left:4%;

}

.indexlike{
  position: absolute;
  bottom: 11%;
  left: 4%;

}




.myinfo{
  position: absolute;
  left: 3%;
  top: 20%;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}



.image{
  background-image: url('log11.png');

  background-size:cover;
  /*background-size: contain;*/
  width: 100%;
  max-height: 100%;
  height: auto;

  height:1000px;
  position: relative;


}
.imagebox{
  font-size: 5vw;
  top: 45%;
  position: absolute;

  left:27%;
  z-index: 0;
transition: .4s;
 overflow: hidden;

}

.imagebox:hover {


  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}



// .btn-circle-fishy {
//   display: inline-block;
//
//   line-height: 60px;/*heightと同じ値に*/
//   text-decoration: none;
//
//   width: 64vw;
//     height: 40vw;
//   line-height: 120px;
//
//   text-align: center;
//   vertical-align: middle;
//   overflow: hidden;
//   background-image: url('log13');
//   transition: .4s;
// }
//
// .btn-circle-fishy:hover {
//   -webkit-transform: rotate(10deg);
//   transform: rotate(10deg);
// }
.image_header{
  font-size: 2vw;
  position: absolute;
  position: fixed;
  left:80%;
  top:9%;

}

.header{
  position: absolute;

  width: 100%;
}

.middle{
  position: relative;

  background: white;
}

.header1{
  z-index: 100;

}
.session{
  margin-top: 1.3vw;
  padding-left: 12vw;
}
