<head>
  <title>Guralog</title>

    <style type="text/css">
      a.link:link {
        color: black;
      }
      a.link:visited {
        color: black;
      }
      a.link:hover {
        color: black;
      }
      a.link:active {
        color: black;
      }
    </style>

  </head>
  <div class="image">
    <!--<div class="image_header">
      <a class="link" href="/users/sign_in">ログイン</a>
      <a class="link" href="/users/sign_up">新規登録</a>
    </div>-->
    <div class="imagebox shake-horizontal">

    <nav>

    <a href="logs/index" ><img src="/assets/log13" alt="">

    </a>


    </nav>

    </div>

  </div>
