
  <div class="image">
    <div class="image_header">
      <a class="link" href="/users/sign_in">ログイン</a>
      <a class="link" href="/users/sign_up">新規登録</a>
    </div>
    <div class="imagebox ">

    <nav>
      <a href="logs/index">↓投稿一覧はこちら↓</a>
    </nav>

    </div>

  </div>
